<div class="nodelist-title">
    {{ fields.title.content }}
</div>

<div class="col-md-12 block nodelist-autor-wrapper">
    <div class="pull-left col-sm-4">
        {{ fields.field_conductor.content }}
    </div>
    <div class="nodelist-autor pull-left col-sm-8">
        {{ fields.field_programa.content }}
        <div class="node-autor-name">
            {{ fields.field_conductor_1.content }}
        </div>
    </div>
</div>

<div class="nodelist-audiolink">
    <span>
        Escuchar <img src="/themes/informe24/images/icono_audio.png" />
    </span>
</div>