<div class="node-image">
    <div class="radio-image col-md-4">
         <a href="{{ fields.field_url.content}}" onclick="return !window.open(this.href, 'Spotify', 'width=640,height=580')">
             {{ fields.field_image.content }}
         </a>
    </div>
    <div class="radio-info col-md-8">
        <h3>{{ fields.title.content }}</h3>
        <span>{{ fields.title.content }}</span>
    </div>
</div>